.advantages-page{
    background-color: #fff;
    margin-top: 100px;
}
.advantages-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 25px;
  }
  
  .advantages-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    
   
    padding: 20px;
    background-color: #fff;
  }

  
  
  .advantages-card img {
    width: 100px; /* Set a fixed width for the images */
    height: 100px; /* Set a fixed height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px;
  }
  
  .advantages-card-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .advantages-card-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .advantages-card-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 64px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .advantages-card-content button:hover {
    background-color: #0056b3;
  }
  h1{
    color: black;

  }
  h6{
    color: #333;
  }
  
  