/* Parcel Form */
.forms-container {
  display: flex;
  gap: 50px;
  /* border: 1px solid black; */
  margin: 40px;
  background-color:  #f0f0f1;
}

.form-section {
 
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #333;
  margin: 20px;
 
   /* position: relative; */
} 

.form-section h2 {
  margin-bottom: 15px;
  color: red;
}

.form-group {
  margin-bottom: 15px;
  color: #ccc;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 16l-6-6h12z"/></svg>') no-repeat right 8px center;
  background-size: 16px 16px;
  padding-right: 30px;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Arrange forms horizontally */
@media screen and (max-width: 768px) {
  .forms-container {
    flex-direction: column;
  }
}
