.shipping-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f1;
    

  }
  
  .shipping-card {
    flex: 1;
    max-width: 200px;
    max-height: 100px;
    background-color: #f0f0f0;
    padding: 16px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
   
  }
  
  .icon {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .shipping-card h1 {
    font-size: 15px;
    margin: 0;
    
  }
  
  